@import "@picocss/pico/css/pico.min.css";
/* @import "./theme-light.css"; */
/* @import "./theme-dark.css"; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Coptic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Cuneiform&display=swap");

:root {
  --pico-font-family:
    "Noto Sans Cuneiform", "Noto Sans Egyptian Hieroglyphs", "Noto Sans Coptic",
    "Noto Sans Greek", "Noto Sans Hebrew", "Noto Sans Devanagari", "Noto Sans",
    sans-serif;
}

.categories,
.last-edited,
.quotation-translation,
.comment {
  color: var(--pico-muted-color);
}

.meaning summary {
  color: var(--pico-color) !important;
}

.quotation-text p {
  white-space: pre-wrap;
}

.transliteration {
  font-style: italic;
  color: var(--pico-muted-color);
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.logos img {
  height: 40px;
  width: auto;
  object-fit: contain;
  opacity: 0.9;
}

.search-results {
  max-height: 300px;
  overflow-y: auto;
}

ul.search-results {
  list-style: none;
  padding-left: 0;
}
