.lemma-header-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* header 2/3, variants 1/3 */
  gap: 1rem;
  align-items: start;
  /* align top of both columns */
}

.lemma-header h1 {
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  color: var(--text-color);
  text-transform: none;
  font-size: 1.5em;
}

.variants {
  background: var(--box-bg);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--box-border);
}

.variants ul {
  list-style: none;
}

@media (max-width: 768px) {
  .lemma-header-container {
    grid-template-columns: 1fr;
    /* stack on small screens */
  }
}

.lemma-page h1 {
  margin: 0;
  font-size: 2rem;
}

.transliteration {
  font-style: italic;
  color: var(--text-color-secondary);
}

.translation {
  color: var(--text-color);
  margin-top: 0.25rem;
}

.primary-meaning {
  font-weight: bold;
  margin-top: 0.25rem;
}

/* Meanings box */
.meanings {
  margin-top: 1rem;
}

.meaning {
  /* border: 1px solid var(--box-border); */
  /* border-radius: 8px; */
  /* background: var(--box-bg); */
  /* padding: 1rem; */
  margin-bottom: 1rem;
}

blockquote p+p {
  margin-top: 0.5rem;
}

.meaning-string {
  margin-top: 0;
  font-size: 1.2rem;
}

.categories {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

.comment {
  font-size: 0.9rem;
  color: var(--text-color-secondary);
  margin-top: 0.25rem;
}

.categories {
  font-size: 0.9rem;
  color: var(--text-color-secondary);
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Quotations */
.quotations {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}

.quotation {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.quotation .quotation-original {
  border-left: 3px solid var(--link-color);
  background: var(--box-bg);
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
}

.quotation blockquote {
  margin: 0 0 0.25rem 0;
}

.quotation blockquote p {
  white-space: pre-wrap;
}

.quotation-translation, .quote-meta {
  font-size: 0.85rem;
  color: var(--text-color-secondary);
}

/* External links */
.external-links,
.cross-links, .citation-display {
  margin-top: 1rem;
  border: 1px solid var(--box-border);
  background: var(--box-bg);
  border-radius: 8px;
  padding: 1rem;
}

.external-links ul,
.cross-links ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.external-links li,
.cross-links li {
  margin-bottom: 0.5rem;
}

.last-edit {
  font-size: 0.85rem;
  color: var(--text-color-secondary);
  margin-top: 0.25rem;
  font-style: italic;
}
