/* Latin & Greek */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* Hebrew */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew&display=swap');

/* Coptic */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Coptic&display=swap');

/* Arabic/Aramaic script coverage: Noto Sans Syriac works for Aramaic square script variants */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac&display=swap');

/* Egyptian hieroglyphs */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&display=swap');

/* Sanskrit (Devanagari) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&display=swap');

/* Akkadian (cuneiform) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cuneiform&display=swap');

body {
  font-family:
    'Noto Sans Cuneiform',
    'Noto Sans Egyptian Hieroglyphs',
    'Noto Sans Coptic',
    'Noto Sans Greek',
    'Noto Sans Hebrew',
    'Noto Sans Devanagari',
    'Noto Sans',
    sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-color-secondary);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

ul {
  padding-left: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

