---
import Layout from '../components/Layout.astro';
import data from '../../public/data.json';
---

<Layout title="Contributors">
  <h1>Contributors</h1>
  <ul>
    {data.users.map(user => (
      <li key={user.id}>
        <a href={`/people/${user.id}`}>{user.first_name} {user.last_name}</a>
      </li>
    ))}
  </ul>
</Layout>
