---
import Layout from "../components/Layout.astro";
import AdvancedSearch from "../components/AdvancedSearch";
---

<Layout title="Glossary">
  <h1>Advanced Search</h1>
  <AdvancedSearch client:load />
</Layout>
